name: samplecicd.apis

env:
  DOTNET_VERSION: '8'

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Get latest code
      uses: actions/checkout@v3

    - name: Set up .NET 
      uses: actions/setup-dotnet@v4
      with: 
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore Nuget packages
      run: dotnet restore

    - name: Build 
      run: dotnet build --no-restore
      
    - name: Test 
      run: dotnet test --no-build --verbosity normal

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "22"
      - name: update-liara
        env:
          LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
        run: |
          npm i -g @liara/cli@7
          liara deploy --app="hwpro" --api-token="$LIARA_TOKEN" --no-app-logs